[Desktop Entry]
Type=Application
Name=Apply GNOME Lab v1.2.4
Comment=Import GNOME layout lab version v1.2.4
Exec=ptyxis -- /home/sdafsaasd/Downloads/gnome-layout-sync-lab/versions/v1/v1.2/v1.2.4/apply-v1.2.4.sh
Icon=preferences-desktop-theme
Terminal=false
Categories=Utility;
